:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
/* Start Box */
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;

}
.space-between{
    justify-content: space-between;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.d-block{
    display: block;
}
@media (max-width:767px){

    .block-mobile{
        display: block;
    }
}
/* End Box */

/* start Padding + Margin  + width*/
.p-20{
    padding: 20px;
}
.p-10{

    padding: 10px;
}
.p-15{
    
    padding: 15px;
}
.m-0{
    margin: 0;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
/* End Padding + Margin */

/* start Color */
.bg-white{
    background-color: white;
    
}
.c-black{
    color: black;
}
.bg-eee{
    background-color: #eee;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-orange{
    background-color: orange;
}
.bg-green{
    background-color: teal;
}
.c-white{
    color: white;
}
.c-grey{
    color: gray;
}

/* start Color */

/* start Postion */
.p-re{
    position: relative;
}
/* End Postion */


/* Start Font Style*/
.text-c{
    text-align: center;
}
.text-r{
    text-align: right;
}
.text-l{
    text-align: left;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
@media (max-width:767px){
    .text-c-mobile{
        text-align: center;
    }
   
}
/* End Font Style*/


/* Start Border */
.rad-6{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.b-none{
    border:none;
}
/* End Border */




/* mobile hide */
@media (max-width:767px){
    .hide-mobile{display:none ;}
}
/* mobile hide */


/* start Component */
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--blue-color);
    color: #fff;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* start Component */

